.heading{ 
    color: blue; 
    margin-top: 5%; 
    margin-left: 40%; } 
.container{ 
    display: flex; 
    flex-wrap: wrap; 
} 
.cell{ 
    padding: 15px; 
    border: 2px solid brown; 
} 
.btn{ 
    /* margin-bottom: 20%; */ 
    border-radius: 5px; 
    padding: 12px; 
    margin: 1%; 
    
} 
.person{
    padding: 50%; 
    border-radius: 50%; }