html,body{
    margin-top: 3%;
    margin-left: 20%;
}
#user_input{
    padding: 15px 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    margin-left: 2%;
    background-color: seagreen;
}
#guessnumber{
    margin-left: 8%;
    color: aqua;
    background-color: red;
}